# Python 캐시 파일
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# 가상환경
.venv/

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# 학습/실험 결과물
checkpoints/
**/checkpoints/

outputs/
**/outputs/
