services:
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: miniostorage
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data
    networks:
      - mlops
  
  minio-client:
    image: minio/mc:RELEASE.2025-08-13T08-35-41Z
    container_name: minio-client
    depends_on:
      - minio
    restart: "no"
    entrypoint: >
      /bin/sh -c "
        sleep 5 &&
        mc alias set local http://minio:9000 minio miniostorage &&
        mc mb -p local/its &&
        mc policy set public local/its;
        exit 0;
      "
    networks:
      - mlops

  postgres:
    image: postgres:15.15
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mlops
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./config/postgres-init.sql:/docker-entrypoint-initdb.d/01-init.sql
    networks:
      - mlops

  broker:
    image: apache/kafka:4.1.1
    container_name: kafka-broker
    hostname: broker
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://broker:29092,CONTROLLER://broker:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:29093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
    networks:
      - mlops

  mlflow:
    build:
      context: .
      dockerfile: docker/Dockerfile.mlflow
    container_name: mlflow
    depends_on:
      - postgres
      - minio
    ports:
      - "5000:5000"
    environment:
      MLFLOW_BACKEND_STORE_URI: postgresql://postgres:postgres@postgres:5432/mlops
      MLFLOW_ARTIFACT_ROOT: s3://its/mlflow
      AWS_ACCESS_KEY_ID: minio
      AWS_SECRET_ACCESS_KEY: miniostorage
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
    command: >
      mlflow server
      --backend-store-uri postgresql://postgres:postgres@postgres:5432/mlops
      --host 0.0.0.0
      --port 5000
      --default-artifact-root s3://its/mlflow
    networks:
      - mlops

  airflow:
    image: apache/airflow:3.1.3
    container_name: airflow
    depends_on:
      - postgres
      - minio
      - broker
      - mlflow
    ports:
      - "8080:8080"
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__CORE__FERNET_KEY: "THIS_IS_A_RANDOM_FERNET_KEY_CHANGE_ME"
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://postgres:postgres@postgres:5432/airflow
      AIRFLOW__CORE__DEFAULT_TIMEZONE: "Asia/Seoul"
      AIRFLOW__WEBSERVER__DEFAULT_UI_TIMEZONE: "Asia/Seoul"

      PG_HOST: postgres
      PG_PORT: "5432"
      PG_DB: mlops
      PG_USER: postgres
      PG_PASSWORD: postgres

      MLFLOW_TRACKING_URI: http://mlflow:5000
      AWS_ACCESS_KEY_ID: minio
      AWS_SECRET_ACCESS_KEY: miniostorage
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
    command: >
      bash -c "
        airflow db migrate &&
        airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com || true &&
        airflow scheduler &
        airflow api-server --port 8080
      "
    networks:
      - mlops

volumes:
  minio-data:
  postgres-data:
  airflow-logs:

networks:
  mlops:
    driver: bridge